---
import Navigation from "./Navigation.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header class="flex items-center justify-between p-2 border-b-[1px]">
  <div class="text-lg font-bold">Lulu's blog</div>
  <nav>
    <Navigation />
  </nav>
  <SocialLinks />
</header>
